#fight-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fight-div {
    text-align: center;
}

.img-div {
    display: flex;
    justify-content: center;

}

.radio-div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.hidden {
    display: none;
}
