@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

html, body {
 

        /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        --color1: rgb(245,54,36);
        --color2: rgb(0, 0, 0);
        --color3: rgb(49, 49, 49);
        --color4: rgb(239,214,9);
        --color5: rgb(0, 0, 0);
        --color6: rgb(0, 0, 0);
        /* --color1: hsla(45, 86%, 83%, 1);
        --color2: hsla(135, 65%, 98%, 1);
        --color3: hsla(315, 37%, 86%, 1);
        --color4: hsla(45, 73%, 98%, 1);
        --color5: hsla(224, 40%, 79%, 1); */
        
        --header-height: 80px;
        --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
        --gutter: 30px;
        --footer-height: 25px;
        
        font-family: 'Titillium Web', sans-serif;
        background-color: var(--color2);
        color: var(--color6);
        font-family: 'Teko', sans-serif;
        height: 100%;
        min-height: 100vh;
        
}

body {
    background-image: linear-gradient(var(--color4), var(--color1));
}
main{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemybackground {
    background-image: url('../assets/dojo3.jpeg');
    height: 80%;
    width: 80%;
    align-items: space-between;

}
#enemies {
 display: flex;
 justify-content: space-around;
 
}


span {
    background: transparent;
    border: 1px solid black;
    font-size:larger;
}

button {
    background: transparent;
    border: 1px solid black;
    font-size: 35px;
    color: black;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
}

header {
    color: -webkit-linear-gradient(var(--color4), var(--color1));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color3);
    height: 120px;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#userprofile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

header img {
    height: 110px;
    margin: 0px auto;
    
}
.stats-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: -webkit-linear-gradient(var(--color4), var(--color1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.stats-div > div {
    margin: 5px;
}

footer {
    height: 30px;
}

